html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Work Sans", "Helvetica", "Arial", "sans-serif";
}

a {
    color: rgb(255, 255, 255);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

p {
    padding-bottom: 20px;
    font-size: 1rem;
    font-family: "Work Sans", "Helvetica", "Arial", "sans-serif";
    letter-spacing: .5px;
    margin: 0 auto;
    font-weight: 300;
}

p.text-header {
    font-family: "Work Sans", "Helvetica", "Arial", "sans-serif";
    font-size: 1.5rem;
    font-weight: 400;
}

footer {
    background: rgb(62, 72, 94);
    color: rgb(255, 255, 255);
}

.footer-header {
    padding: 40px;
}

#mainNav {
    background: transparent;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-family: "Work Sans", "Helvetica", "Arial", "sans-serif";
    font-size: 1rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

@media screen and (max-width: 360px) {
    .solidNav {
        background: red;
    }
}

.navbar-nav .nav-item .nav-link {
    color: rgb(255, 255, 255);
    padding: 10px 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(249, 194, 49);
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0, 0);
    border-color: rgba(0,0,0, 0);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#logo {
    margin: 0;
    height: 40px;
}

#belowHeader {
    position: absolute;
    top: 40px;
    visibility: hidden;
}

.login {
    color: rgb(249, 194, 49) !important;
    font-family: "Work Sans Medium", "Helvetica", "Arial", "sans-serif";
}

.login:hover {
    color: rgb(239, 180, 48) !important;
}

.btn {
    border-radius: 300px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.btn-xl {
    font-size: 1rem;
    padding: 15px 40px;
}

.btn-md {
    font-size: .8rem;
    padding: 10px 15px;
}

.btn-gold {
    color: rgb(255, 255, 255);
    background: rgb(249, 194, 49);
}

.btn-gold:hover,
.btn-gold:focus,
.btn-gold:active {
    color: rgb(255, 255, 255);
    background: rgb(239, 180, 48);
}

.btn-turquoise {
    background: rgb(108, 187, 168);
}

.btn-turquoise:hover,
.btn-turquoise:focus,
.btn-turquoise:active {
    color: rgb(255, 255, 255);
    background: rgb(101, 175, 157);
}

header.candidate-header {
    position: relative;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
    background-image: url("../media/images/header-bkg.jpg");
    background-position: center;
    background-size: cover;
}

header.candidate-header .candidate-header-content {
    max-width: 600px;
    margin-bottom: 100px;
}

header.candidate-header .candidate-header-content h1 {
    font-family: "Titillium Web", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 2.6rem;
    letter-spacing: 2px;
    margin-top: 50px;
}

section.role {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    color: rgb(255, 255, 255);
    background-image: url("../media/images/role-bkg.jpg");
    background-position: center;
    background-size: cover;
}

section img {
    margin: 0 auto;
    margin-top: 50px;
    display: block;
}

section.feedback {
    position: relative;
    width: 100%;
    padding-top: 10%;
}

section.feedback p.text-header {
    color: rgb(62, 72, 94);
}

section.feedback p {
    color: rgb(93, 93, 93)
}

section.profile {
    position: relative;
    width: 100%;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    background-image: url("../media/images/profile-bkg.jpg");
    background-position: center;
    background-size: cover;
}

section.globe {
    position: relative;
    width: 100%;
    padding-top: 40px;
}

section.globe p.text-header {
    color: rgb(62, 72, 94);
}

section.globe p {
    color: rgb(93, 93, 93)
}

.globe-row1 {
    margin-bottom: 140px;
}

.globe-footer {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

/* employer */
header.employer-header {
    position: relative;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 5%;
    color: rgb(255, 255, 255);
    background: rgb(78, 85, 108);
    background-position: center;
    background-size: cover;
}

header.employer-header .employer-header-content {
    max-width: 600px;
    margin-bottom: 100px;
}

header.employer-header .employer-header-content h1 {
    font-family: "Titillium Web", "Helvetica", "Arial", "sans-serif";
    font-weight: 400;
    font-size: 2.6rem;
    letter-spacing: 2px;
    margin-top: 40px;
}

section.finding {
    position: relative;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(255, 255, 255);
    background: rgb(255, 154, 42);
    background-position: center;
    background-size: cover;
}

section.assessment {
    position: relative;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

section.assessment p.text-header {
    color: rgb(62, 72, 94);
}

section.assessment p {
    color: rgb(93, 93, 93)
}

section.pricing {
    position: relative;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: rgb(255, 255, 255);
    background: rgb(0, 189, 177);
    background-position: center;
    background-size: cover;
}

section.why-work {
    position: relative;
    width: 100%;
    padding-top: 10%;
}

section.process p.text-header {
    color: rgb(62, 72, 94);
}

section.process p {
    color: rgb(93, 93, 93)
}
/* employer */

ul.social-inline {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0; 
}

ul.social-inline li {
    display: inline-block;
    padding-right: 20px;
}

ul.social-inline li img {
    height: 16px;
}